<div class="hero min-h-screen">
    <div class=""></div>
    <div class="hero-content text-neutral-content text-center about-container">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold text-gray-800">Discover More About Yourself</h1>
            <p class="mb-5 text-gray-800">
              Start recording your moods today, and unlock a better understanding of your emotional well-being. Mooder is a simple yet powerful tool to bring more self-awareness into your life.
            </p>
            <button (click)="handleGetStarted()" class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>
