:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    flex-grow: 1;
}

app-footer {
    margin-top: auto;
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}