<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" *ngIf="isRegistrationModalOpen"
  (keydown)="onKeyPress($event)" tabindex="0" #modalRegistrationContainer>
  <div class="modal-box w-96">
    <div class="flex justify-end">
      <button class="btn btn-circle bg-transparent" (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <h2 class="text-2xl font-bold text-center mb-4">Register</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-control">
        <label class="label">
          <span class="label-text">User Name</span>
        </label>
        <input type="text" [(ngModel)]="userName" name="userName" class="input input-bordered" required />
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input type="email" [(ngModel)]="userEmail" name="email" class="input input-bordered" required />
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input type="password" [(ngModel)]="userPassword" name="password" class="input input-bordered" required />
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Confirm Password</span>
        </label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="input input-bordered"
          required />
      </div>
      <div class="form-control mt-6">
        <button class="btn btn-primary w-full">Register</button>
      </div>
    </form>
    <!--    <div class="modal-action">-->
    <!--      <button class="btn" (click)="closeModal()">Close</button>-->
    <!--    </div>-->
  </div>
</div>
