<div class="max-w-screen-lg mx-auto mt-10">
    <div class="bg-base-100 p-8 rounded-lg text-center flex justify-center flex-col">
        <img [src]="logoMooder" class="mooder-image" alt="logo mooder">
        <h2 class="text-3xl font-semibold text-accent mt-4 welcome-header">Welcome to Mooder!</h2>
        <p class="py-6 text-lg text-base-content">
            <strong class="text-primary-focus">Mooder</strong> is designed to help you understand your emotions,
            one mood at a time. Whether you're feeling great or just need a moment to reflect, Mooder offers a
            simple and intuitive way to track your feelings and gain insights over time.
        </p>
        <div>
            {{isModalVisible}}
            <button (click)="handleButtonClick('universal')" class="btn btn-primary btn-one m-3">Universal
                Emotions</button>
            <button (click)="handleButtonClick('exercise')" class="btn btn-secondary btn-two m-2">Exercise &
                Mood</button>
            <button (click)="handleButtonClick('negative')" class="btn btn-secondary btn-three m-2">Negative
                Emotions</button>
            <button (click)="handleButtonClick('memory')" class="btn btn-secondary btn-four m-2">Emotions &
                Memory</button>
        </div>
    </div>

    <ng-template #universalTemplate>
        <h2>Universal Emotions</h2>
        <!-- <img src="path_to_image_universal.jpg" alt="Universal Emotions"> -->
        <p>Description about universal emotions...</p>
    </ng-template>

    <ng-template #exerciseTemplate>
        <h2>Exercise & Mood</h2>
        <!-- <img src="path_to_image_exercise.jpg" alt="Exercise & Mood"> -->
        <p>Description about exercise & mood...</p>
    </ng-template>

    <ng-template #negativeTemplate>
        <h2>Negative Emotions</h2>
        <!-- <img src="path_to_image_negative.jpg" alt="Negative Emotions"> -->
        <p>Description about negative emotions...</p>
    </ng-template>

    <ng-template #memoryTemplate>
        <h2>Emotions & Memory</h2>
        <!-- <img src="path_to_image_memory.jpg" alt="Emotions & Memory"> -->
        <p>Description about emotions & memory...</p>
    </ng-template>

    <div class="flex mt-2">
        <div class="bg-base-100 content-container">
            <div class="image-container">
                <img class="img-container" src="./assets/images/graphic.gif" alt="">
            </div>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor mauris, egestas at quam
                    ut, facilisis blandit sapien.
                </p>
            </div>
        </div>
        <div class="bg-base-100 content-container">
            <div class="image-container">
                <img class="img-container" src="./assets/images/open-book.gif" alt="">
            </div>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor mauris, egestas at quam
                    ut, facilisis blandit sapien.
                </p>
            </div>
        </div>
    </div>
    <div class="flex mt-2">
        <div class="bg-base-100 content-container">
            <div class="image-container">
                <img class="img-container" src="./assets/images/puzzle.gif" alt="">
            </div>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor mauris, egestas at quam
                    ut, facilisis blandit sapien.
                </p>
            </div>
        </div>
        <div class="bg-base-100 content-container">
            <div class="image-container">
                <img class="img-container" src="./assets/images/growth.gif" alt="">
            </div>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor mauris, egestas at quam
                    ut, facilisis blandit sapien.
                </p>
            </div>
        </div>
    </div>
    <div class="flex mt-2">
        <div class="bg-base-100 content-container">
            <div class="image-container">
                <img class="img-container" src="./assets/images/mentor.gif" alt="">
            </div>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor mauris, egestas at quam
                    ut, facilisis blandit sapien.
                </p>
            </div>
        </div>
        <div class="bg-base-100 content-container">
            <div class="image-container">
                <img class="img-container" src="./assets/images/growth.gif" alt="">
            </div>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor mauris, egestas at quam
                    ut, facilisis blandit sapien.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col hero min-h-screen justify-center" style="background-color: #DAEAF1;">
    <div class="flex flex">

        <div class="card bg-base-100 w-72 shadow-xl m-2 card-edits">
            <figure>
                <img [src]="chartImage" alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Personalized Journal</h2>
                <p>Keep a private log of your emotional journey and reflect whenever you need to.</p>
                <div class="card-actions justify-end">
                    <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
                            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 w-72 shadow-xl m-2 card-edits">
            <figure>
                <img [src]="marketingImage" alt="personalized journal" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Gain Insights!</h2>
                <p>Visualize patterns to understand what influences your emotions.</p>
                <div class="card-actions justify-end">

                    <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
                            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 w-72 shadow-xl m-2 card-edits">
            <figure>
                <img [src]="infoVizImage" alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Quick & Easy!</h2>
                <p>Recording your mood takes just a few seconds.</p>
                <div class="card-actions justify-end">
                    <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
                            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>hello world</h1>
    </div>
</div>

<div class="ready-container">
    <img class="m-7" class="coffee-image" [src]="coffeeImage" alt="coffee">
    <div class="card bg-base-100 w-96 shadow-xl m-7"
        style="margin-bottom: 100px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <div class="card-body items-center text-center">
            <h2 class="card-title">Ready to start journal?</h2>
            <div class="card-actions">
                <button (click)="handleJournalNow()" class="btn btn-primary">Journal now!</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-login-modal #LoginModal></app-login-modal>
<app-emotions-content-modal (closeModalEvent)="handleModalClose()" [modalContent]="modalContent"
    [isVisible]="isModalVisible"></app-emotions-content-modal>