<div class="stats shadow my-shadow mt-6">
    <div class="stat place-items-center">
        <div class="stat-title">Total Journal Entries Logged</div>
        <div class="stat-value">{{entries}}</div>
    </div>

    <div class="stat place-items-center">
        <div class="stat-title">Total Word Count</div>
        <div class="stat-value text-secondary">{{numberOfWords}}</div>
    </div>

    <div class="stat place-items-center">
        <div class="stat-title">New Registers</div>
        <div class="stat-value">{{numberOfUsers}}</div>
    </div>
</div>